<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="container-header">
            <h1>空き教室検索</h1>
        </div>

        <% rooms.forEach((room) => { %>
            <li>
                <span><%= room.name %></span>
            </li> 
        <% }); %> 
        
    </div>
</body>
</html>